[build]
  base = "react-site"
  command = "npm ci && npm run build"
  publish = "react-site/dist"

[build.environment]
  NODE_VERSION = "18"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
  force = true
